<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>边缘端显示界面</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/socket.io.js"></script>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>
<body onload="onload();">
	<div id="wrapper" class="login-page">
		<div id="num" class="form">
			<p class="center">当前识别人数为6人</p>
		</div>
		<div id="img" class="form">
			<img src="../static/images/video.png">
		</div>
	</div>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>